@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Lilita+One&display=swap');

@import "tailwindcss";


.h1-all {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
}
.h3-all {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
}
.small-all {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}


.normal-all {
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
}

.about-me-normal {
    font-family: "Coming Soon", cursive;
    font-weight: 400;
    font-style: normal;
}

.about-me-h1 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}